<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<!-- document -->
<!-- 
1，基础模板
	var ac = new Vue({
			el:'.app1',
			data:{
				msg:123
			}
		})

	<div class="app1">
		{{ msg }}
	</div>
2，常见指令 >>>> 双向数据绑定
	model
	<div class="app1">
		<input type="text" v-model="msg">
		{{ msg }}
	</div>
	>>>> 循环
	<ul>
		<li v-for="num in msg3">
		{{num}}
		</li>
	</ul>
	>>>>
	<ul>
		<li v-for="num in msg3">
		{{num}} {{$index}} {{$key}}
		</li>
	</ul>
	>>>>基础事件 click
	<p v-on:click="tr">xxx</p>
	绑定静态事件
	methods:{
	   tr: function(){
			
	   }
	}
	>>>>隐藏按钮

 -->
<body>
	<div class="app1">
		<input type="text" v-model="msg">
		<input type="text" v-model="msg">
		<input type="text" v-model="msg">
		<input type="text" v-model="msg">
		{{ msg }}
		<ul>
			<li v-for="(k,v) in msg4">
				{{k}} {{v}}
			</li>
		</ul>
		<p >xxx</p>
		<div v-on:click="tr" style="background: #dcdcdc;border: 1px solid #444444;color: white;box-shadow: 1px 1px 10px 2px #666666;width
		:10%;text-align: center;line-height: 30px;cursor: pointer;">按钮</div>
		<div style="background: red;width: 100px;height:100px;margin-top: 5%;" v-show="or"></div>
	</div>
</body>
	<script type="text/javascript" src="vue.js"></script>
	<script>
		var ac = new Vue({
			el:'.app1',
			data:{
				or:false,
				msg:1,
				msg2:21,
				msg3:[
				{a1:1},
				{a2:2},
				{a3:3},
				],
				msg4:[1,2,3,4,5,6,7]
			},
			methods:{
				tr:function(){
					this.or = !this.or
					console.log(this)
				}		
			}
		})
	</script>
</html>