<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>learn Vue</title>
	</head>

	<body>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<div id="example">{{message}}
			<span v-bind:title="title" v-if="seen"  v-for="todo in todos">
			
			</span>
		</div>
		<script>
			var wang = new Vue({
				el:'#example',
				data: {
			    	message: 'Hello Vue!',
			    	title:'页面加载于' + new Date(),
			    	seen:false,
			    	todos: [
				      { text: '学习 JavaScript' },
				      { text: '学习 Vue' },
				      { text: '整个牛项目' }
			    	]
			  	}
			})
		</script>
	</body>
</html>